/* text css starts here */
/* text css ends here */
/* body css starts here */
/* header starts here */
/* header ends here */
/* banner starts here */
/* banner ends here */
/* pictogram starts here */
/* paper starts here */
/* paper ends here */
/* ruler starts here */
/* ruler ends here */
/* truck starts here */
/* truck ends here */
/* pictogram ends here */
/* philosophy and apps starts here */
/* philosophy starts here */
/* philosophy ends here */
/* appointments starts here */
/* appointments ends here */
/* philosophy and apps ends here */
/* footer css starts here */
/* footer css ends here */
/* body css ends here */
/**/
/**/
/**/
/**/
/**/
/**/
