/* text css starts here */

/* html ends here */

  html {
    font-size: 18px;
    line-height: 1.4;
    font-family: helvetica;
  }

/* html ends here */

  header span {
    color: white;
    font-family: helvetica;
    font-size: 1rem;
  }

  .logo {
    padding-left: 1rem;
  }

  .links {
    padding-right: 2rem;
  }

  header a {
    color: white;
    text-decoration: none;
  }

  nav a {
    align-items: center;
    justify-content: center;
  }

  header span {
    color: white;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }

  .just_look span {
    color: grey;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 1.5rem 5rem;
    background-color: white;
  }

  footer span {
    padding: 4rem 0rem;
    color: grey;
  }

  .appointments span, .philosophy span {
    padding: 0.5rem 1.25rem;
  }

  .picto_box span {
    color: grey;
    text-align: center;
  }

  .phil_title span, .apps_title span {
    color: white;
    padding: 1rem 0rem 1rem 1.25rem;
  }

  .philosophy span, .appointments span {
    text-align: left;
    color: grey;
  }

/* text css ends here */

/* body css starts here */

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* site_container css starts here */
  .site_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 960px;
    position: relative;
  }

/* header starts here */

  header {
    position: fixed;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    width: 960px;
    z-index: 2;
    justify-content: space-between;
  }

  nav {
    display: flex;
  }

  .comp_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header img {
    height: 1.5rem;
    width: auto;
    padding-left: 2rem;
  }

/* header ends here */

/* banner starts here */

.banner {
  height: 30rem;
  background-image: url("../../resources/images/glasses-bg.png");
  background-size: auto 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* banner_box starts here */

  .banner_box_1, .banner_box_2 {
    width: 960px;
    display: flex;
    flex-direction: row;
  }

  .banner_box_1 {
    padding-top: 1rem;
    position: relative;
  }

  .banner_box_2 {
    position: absolute;
    right: -2rem;
    position: absolute;
    top: 10rem;
    justify-content: flex-end;
  }

/* banner_box ends here */

/* just_look starts here */

  .just_look {
    display: flex;
    justify-content: center;
  }

/* just_look ends here */

/* banner ends here */

/* pictogram starts here */

  .pictogram {
    display: flex;
    width: 960px;
    margin: 0px;
    padding: 3rem 0rem;
    border: 0rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
  }

/* picto_box starts here */

  .picto_box {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
  }

/* picto_box ends here */

/* paper_box starts here */

  .paper_box {
    height: 8rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

/* paper starts here */

  .paper {
    width: 3.5rem;
    height: 5rem;
  }

  .paper img {
    max-width: 100%;
    max-height: auto;
  }

/* paper ends here */

/* paper_box ends here */

/* ruler_box starts here */

  .ruler_box {
    height: 8rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

/* ruler starts here */

  .ruler {
    width: 5rem;
    height: auto;
  }

  .ruler img {
    max-width: 100%;
    max-height: auto;
  }
/* ruler ends here */

/* ruler_box ends here */

/* truck_box starts here */

  .truck_box {
    height: 8rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

/* truck starts here */

  .truck {
    width: 5rem;
    height: auto;
  }

  .truck img {
    max-width: 100%;
    max-height: auto;
  }
/* truck ends here */

/* truck_box ends here */

/* pictogram ends here */

/* philosophy and apps starts here */

  .phil_and_app {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5rem;
  }

/* philosophy_box starts here */

  .philosophy_box {
    width: 35%;
    padding-right: 2.5%;
  }

/* phil_title starts here */

  .phil_title {
    display: flex;
    width: 10rem;
    margin-bottom: 1rem;
    background-color: cadetblue;
    align-items: center;
  }

/* phil_title ends here */

/* philosophy starts here */

/* philosophy starts here */

/* philosophy_box ends here */

/* appointments_box starts here */

  .appointments_box {
    width: 35%;
    padding-left: 2.5%;
  }

/* apps_title starts here */

  .apps_title {
    display: flex;
    width: 10rem;
    margin-bottom: 1rem;
    background-color: cadetblue;
  }

/* apps_title ends here */

/* appointments starts here */

/* appointments starts here */

/* appointments_box ends here */

/* philosophy and apps ends here */

/* footer css starts here */

  footer {
    background-color: azure;
    width: 960px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  footer img {
    padding: 4rem 1rem 4rem 4rem;
    height: 1.5rem;
    width: auto;
  }

/* footer css ends here */

/* site_container css ends here */

/* body css ends here */

/* >1024px css starts here */

@media only screen and (min-width: 1024px) {
  .menu {
    display: none;
  }
}

/**/

/* <1024px but >471px css starts here */

  @media only screen and (max-width: 1024px) and (min-width: 471px) {
  .site_container, header, .banner_box_1, .banner_box_2, .pictogram, .phil_and_app, footer {
    width: 100%;
  }

  .banner {
    background-size: auto 22rem;
    height: 22rem;
  }

  .banner_box_1 {
  position: relative;
  padding-top: 0rem;
  }

  .banner_box_2 {
    position: absolute;
    top: 8rem;
    right: 2rem;
  }

  .banner_box_2 span {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }

  .menu {
    display: none;
  }
}

/* <1024px but >471px css ends here */

/* <470px css starts here */

  @media only screen and (max-width: 470px) {
    .site_container, header, .banner_box_1, .banner_box_2, .pictogram, .phil_and_app, footer {
      width: 100%;
    }

    .banner_box_1 {
    position: relative;
    padding-top: 0rem;
    }

    .banner_box_2 {
      position: absolute;
      top: 8rem;
      right: 2rem;
    }

    .just_look span {
    font-size: 1.33rem;
    text-align: center;
    padding: 0.75rem 0rem;
    }

    .nav_items {
      display: none;
    }
  }

/* <470px css ends here */
